# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Temp files
.cache
var

# Coverage
.coverage

# Configuration
.editorconfig
.eslintrc.yaml
.gitignore
.postcssrc
.prettierignore
.sassrc.js
.stylelintignore
.stylelintrc.yaml
.travis.yml
pnpm-lock.yaml
tsconfig.json
tsconfig.lib.json

# Source Files
demo
src
tests

# README extensions
CODE_OF_CONDUCT.md
CONTRIBUTING.md
