// responsive embed css taken straight outta Bootstrap
// https://github.com/twbs/bootstrap/blob/v4.2.1/scss/utilities/_embed.scss

.video-container {
  display: block;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // this gets us the 16:9 aspect ratio
  }

  .video-embed {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
